.container {
  background-color: #E5E5E5;
}

.nav {
  height: 82px;
  margin: 0 100px;
  
}

.logo {
 position: absolute;
 top: 16px;
 left: 100px;
 height: 53px;
}

.pageContainer {
  width: 452px;
  height: 24px;
  left:745px;
  top: 29px;
  display: flex;
}

.items {
  font-size: 20px;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
  margin: 0 16px;
  color: #000;
}

.btn {
  border-radius: 20px;
  background-color: transparent;
  width: 163px;
  height: 51px;
 font-size: 34px;
 line-height: 40px;
 color: #000; 
 border: 2px solid #fe0000;
 cursor: pointer;
}

.btn:hover{
  background-color: #fe0000;
  opacity: 0.7;
}
.title {
  margin-left: 100px;
  line-height: 64px;
  font-size: 55px;
  font-weight: 500;
  margin-top: 200px;
}
.description {
  margin-left: 100px ;
  margin-top: 50px;
  margin-right: 813px;
  line-height: 23px;
  font-size: 20px;
  width: 429px;
}

.btn2 {
  width: 154px;
  height: 56px;
  margin-left: 100px;
  margin-top: 40px;
  background-color: #fe0000;
  font-size: 30px;
  line-height: 35px;
  color: #000;
  border: none;
  cursor: pointer;
}
.btn2:hover{
  background-color: aliceblue;
  transition:all 0.1s linear;
  border: 1px solid black;
}
.img {
  margin-left: 100px;
  margin-top: 100px;
  width: 912px;
  height: 1024;
  display: flex;
}
.mid {
  align-items: center;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.8);
  
}
.card {
  margin-top: 110px;
  padding: 0 40px;
  text-align: center;
  text-decoration: none;
  
}
.section {
  width: 90vw;
  margin: auto;
  max-width: 1170px;
}

.section2 {
  margin: 0 auto; 
  margin-top: 4rem;
  width: 80vw;
  height: 300px; 
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.iconBtn {
  position: absolute;
  top: 200px;
  transform: translate(-50%);
  width: 10rem;
  height: 10rem;
  font-size: 1.5rem;
}

.footer {
  background: #000;
  padding-left: 100px;
  height: 80px;
}
.heading {
  font-weight: 500;
  font-size: 96px;
  line-height: 112px;
  margin: 170px 0;
  text-align: center;

}

.rndcard {
  margin-top: 110px;
  padding: 0 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 160px;
  width: 377px;
  height: 467px;
}

/* .main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}



.title,
.description {
  text-align: center;
}



.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}





.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
} */


@media (max-width: 600px) {
  .nav {
    display: none;
    flex-direction: column;
  }
}
